<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>

    <div class="horizontal">
        <H1>Inicio de Sesión</H1>
        <input type="text" name="Correo" id="Correo" placeholder="Correo electronico">
        <input type="text" name="Password" id="Password" placeholder="Contraseña">
    </div>
    <div class="horizontal">
        <button>Acceder</button>
        <Button>No tengo una cuenta</Button>
    </div>

</body>
</html>