<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/Login.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-half centrador">
                <img src="https://www2.cruzroja.es/documents/5640665/13624839/CRUZ+ROJA+VERTICAL+ALTA.jpeg/c2a5f9d4-a060-286c-160f-b4de0a0b74c0?version=1.0&t=1610983902639&imagePreview=1" class="img-fluid" alt="logo">
            </div>

            <div class="col-md-6 right-half">
                <div class="horizontal inicio">
                    <h1>Inicio de Sesión</h1>
                    <input type="text" name="Correo" id="Correo" placeholder="Correo electronico">
                    <input type="text" name="Password" id="Password" placeholder="Contraseña">
                </div>

                <div class="horizontal botones">
                    <button class="btn btn-primary">Acceder</button>
                    <button class="btn btn-secondary">No tengo una cuenta</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
