<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="horizontal">
    <H1>Creación de una cuenta</H1>
        <div>
            <input type="text" name="nombre" id="nombre" placeholder="Nombre*">
            <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos*">
        </div>
        <div>
            <input type="text" name="date" id="date" placeholder="Fecha de nacimiento*">
            <input type="text" name="dni" id="dni" placeholder="DNI*">
        </div>
        <div>
            <input type="text" name="mail" id="mail" placeholder="Correo electronico*">
            <input type="text" name="password" id="password" placeholder="Contraseña*">
        </div>
        <div class="horizontal">
            <button>Crear Cuenta</button>
            <button>Ya tengo una cuenta</button>
        </div>
    </div>
</body>
</html>