.principal{
    border-radius: 10px;
    background-color: #3282B8;
}

.secundario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    background-color: #BBE1FA;
}

.btn{
    background-color: #0F4C75;
}

.hapellido2, .hcorreo{
    font-size: 25px;
}

input{
    padding: 0 0 0 0;
    max-width: 350px;
}